/*цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* акцент при наведении #2196F3 */

/*  белый (фон и текст) #FFFFFF */

/* вторичный цвет фона #F5F4FA */

/* белый в футере - телефон и почта rgba(255, 255, 255, 0.6); */

/* цвет шапки профиля #ECECEC */

/* Шрифты для страницы :
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */


.page-header {
    font-weight: 500;
}


:root {
    --basic-color: #212121;
    --accent-color: #2196f3;
    --contacts-and-paragraph-color: #757575;
    --logo-color: #000;
    --white-color: #fff;
    --background-hero-and-footer: #2F303A;
    --secondary-bg-color: #F5F4FA;
}

ul {
    list-style: none;
}

body {
    background-color: var(--white-color);
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
}

button {
    padding: 0;
    border: 0;
}

/* Шапка */
.header {
    border-bottom: 1px solid var(--contacts-and-paragraph-color);
}

.header .flex-container {
    display: flex;
    align-items: center;
} 
.header-container{
    display: flex;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: #000000;
    margin-left: 215px;
    margin-left: 0;
    letter-spacing: 0.06em;
        
}

.logo-accent {
    color: var(--accent-color);
}


.header .flex-container {
    display: flex;
    align-items: center;
}

.header .site-nav {
    column-gap: 50px;
}

nav.flex-container {
    column-gap: 93px;
}


.nav-item {
    line-height: 0;

}

.site-nav {
    display: flex;
    justify-content: flex-end;
}
.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link {
    display: flex;

    color: var(--basic-color);
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.header .nav-link {
    display: block;

    padding-top: 32px;
    padding-bottom: 31px;

    color: var(--basic-color);
}

.header .nav-contacts {
    margin-left: auto;
    column-gap: 50px;
    color: inherit;
    display: flex;
    column-gap: 10px;
    align-items: center;
    
    
}

.nav-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}



/*
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

 Site-nav 

.site-nav .item{

display: flex;
display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
}
*/

/* 
{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px ;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
    
}*/
.contacts {

      display: flex;
      justify-content: flex-end;
    
}
.header-tel{
    padding-left: 50px;
}

.nav-contact{
    margin-left: auto;
}
.site-nav .item{
    margin-right: 50px;
    
}
.site-nav .item:last-child {
    margin-right: 0;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}   

/* Контакти */
.contacts .link {
    color: var(--contacts-and-paragraph-color);
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.contacts .address:hover,
.contacts .address:focus {
    color: var(--accent-color);
}

.contacts .address {
    color: var(--white-color);
    line-height: 1.7;
}

/* Заголовок Герой */

.hero{
    text-align: center;
    padding: 32px 0;
    margin-left: auto;
    margin-right: auto;
}
.hero-title { 
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 30;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
   

}
.hero-wrapper{
    background-color: var(--background-hero-and-footer);
    padding: 200px 452px;
    height: 600px;
    text-align: center;

    
}
.button-hero {
    display: block;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 30px;
    padding: 10px 32px;
    min-width: 216px;
    border-radius: 4px;
        
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    text-align: center;
    
}

.button-hero:hover,
.button-hero :focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* Переваги */
.benefits-list{
    display: flex;
}
.description {
    padding-bottom: 118px;
    padding-right: 30px;

    color: var(--contacts-and-paragraph-color);
    line-height: 1.7;

}

.title-about .team-member{
    margin-top: 0;
    margin-bottom: 10px;
}
.title-about {
    padding-bottom: 10px;
    
    color: var(--basic-color);
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}


/* Чим займаэмося */

.section-title {

    padding-bottom: 50px;
    color: var(--basic-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.work-img{
    
    display: flex;
}

/* Наша команда */

.team-member {
    color: var(--basic-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.job-education {
    color: var(--contacts-and-paragraph-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-member-list .item{
    padding-top: 50px;
    padding-bottom: 94px;}

    .section-team{
    background-color: var(--secondary-bg-color);
    }
.team-member-list{

   
    }
.team-member .job-education{
   

  }
  .team-item{

    display: flex;
  }


/*Портфоліо*/

/* Шапка профиля */
/* Список кнопок */

.portfolio-btn {
    padding: 6px 22px;
    border: 4px solid transparent ;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--basic-color);
    cursor: pointer;
    background: #F5F4FA
}

.portfolio-btn:hover,
.porfolio-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    border: 4px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Блок з роботами */
.header-cards {
    color: var(--basic-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.paragraph-caption {
    color: var(--contacts-and-paragraph-color);
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
}
.list {
    padding: 0;
    margin: 0;
}

/* Футер */
.link-footer {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: inherit;
}

.footer {
    background-color: var(--background-hero-and-footer);

}

.footer-studio {
    color: var(--white-color);
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
        
    /*outline: 2px solid tomato;*/

}
.section .no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    padding-top: 92px;
    padding-bottom: 50px;
    min-width: 1200px;
}
